@font-face {
  font-family: 'national2';
  src: url(../fonts/National2CondensedWeb-BoldItalic.woff2);
}

body {
  margin: 0;
  font-family: 'Times New Roman', serif;
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  /* background-color: #f6f6ef; */

}
@media (max-width: 600px) {
  body {
    font-size: 18px;
  }
  .navbar-dark .navbar-nav .nav-item, .navbar-dark .navbar-nav .nav-link, .navbar-brand {
    font-size: 24px;
  }
  .read-more-btn {
    font-size: 22px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: arial, sans-serif;
  /* font-weight: 800; */
  word-break: break-word;
  color: #000;
  font-weight: normal;
}


.navbar a {
  font-family: arial, sans-serif;
}
.navbar-dark .navbar-nav .nav-item, .navbar-dark .navbar-nav .nav-link, .navbar-brand {
  color: yellow !important;
  font-family: national2 !important;
  font-size: 26px;
}

.read-more-btn {
  font-family: arial, sans-serif;
  font-family: national2 !important;
  font-size: 24px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: yellow;
}

img, video {
  border: 1px solid #dedede;
  max-width: 100%;
  height: auto;
}

a:hover {
  text-decoration: none;
}

.post-meta {
  margin: 0;
  text-align: center;
  color: #8a8a8a;
  font-size: 18px;
}

.center, .center p {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
