<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{{ "imgs/favicon.svg" | relURL }}"/>

  {{ if .IsHome -}}
    <title>{{ .Site.Title }}</title>
  {{- else -}}
    <title>{{ .Site.Title }} - {{ .Title }}</title>
  {{- end }}
  <meta name="description" content="{{ .Site.Params.Description }}" />

  {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  <!-- css -->
  <link rel="stylesheet" href="{{ "css/bootstrap.min.css" | relURL }}">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
</head>
